:root {
	font-family: Outfit, sans-serif;
	line-height: 1.5;
	font-weight: normal;

	font-size: 15px;

	color: rgba(255, 255, 255, 0.87);
	background-color: hsl(212, 45%, 89%);
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}
